<div id="columnName">

    <table>
        <app-drop-down (emitBrewerName)="getSelectedBrewaryBeers($event)" *ngIf="brewerNames" [dropList]="brewerNames">
        </app-drop-down>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>
                <app-table-filter (getArrayData)="filterTableByRow($event)"></app-table-filter>
            </td>
            <td>
                <app-table-filter></app-table-filter>
            </td>
            <td>
                <app-table-filter></app-table-filter>
            </td>
            <td>
                <app-table-filter [isDisabled]="disableFilter"></app-table-filter>
            </td>
        </tr>
        <tr (dblclick)="onRowDoubleClick(this)" *ngFor="let data of tableData">
            <td>{{data.name}}</td>
            <td>{{data.type}}</td>
            <td>{{data.price}}</td>
            <td>
                <img (click)="open($event.target.src)" [src]="data.image_url" alt="" height=50 width=50>
            </td>
        </tr>
        <tbody>
        </tbody>
    </table>
    <div>

        <button (click)=getNext15Elements() class="load-more-button" *ngIf="isLoadMoreButtonVisible">Load more</button>
    </div>
</div>
<app-tooltip (hide)="clearImageSource($event)" *ngIf="imageSource" [(source)]="imageSource"></app-tooltip>