th {
    text-align: start;
    background-color: #4CAF50;
    color: white;
    display: flex;
}

table tr td img {
    border-radius: 40px;
    border-style: dashed;
    border-width: 1px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th,
td {
    padding: 15px;
    text-align: left;
    display: flex;
}

table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

table,
th,
td {
    border: 1px solid #ddd;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

tr {
    display: flex;
    flex-direction: row;
}
