.flex-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    position: relative;
}

.column {
    display: flex;
    border-style: solid;
    border-width: 2px;
    margin-left: 3%;
    flex-grow: 1;
}

.item-number-select {
    padding: 7px;
    border-width: 2px;
    border-style: solid;
    margin-left: 3%;
    margin-bottom: 1%
}