<div>
    <select class="item-number-select" (change)="setItemsLengthToLoad($event.target.value)">
        <option *ngFor="let number of loadedItems" [value]="number" [selected]="number == howManyItemsShouldBeLoaded">{{number}}</option>
    </select>
    <div class="flex-container" *ngIf="exportedBrewers">
        <app-table [itemsToLoad]="howManyItemsShouldBeLoaded" [brewers]="exportedBrewers" class="column" *ngFor='let key of tables'></app-table>
    </div>
</div>