<header>
    <h1>Brewer app</h1>
    <!-- <div>
    </div> -->
    <nav>
        <ul>
            <li> <a routerLink="/brewery" routerLinkActive="active">Brewers</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>