nav ul li {
    display: inline;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav {
    flex-grow: 1;
}

li {
    list-style-type: none;
}

header {
    width: 100%;
    height: 10%;
    /* border-style: solid; */
    /* border-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    margin-right: 40%;
    margin-left: 3%;
}