<div class="container">
    <app-header></app-header>
    <!-- <header>
        <h1>Brewer app</h1>
        <div style="flex-grow: 2;">

        </div>
        <nav>
            <ul>
                <li> <a routerLink="/brewery" routerLinkActive="active">Brewers</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header> -->
    <div class="main-box">
        <router-outlet></router-outlet>
    </div>
</div>