.container {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10%;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    margin: 3%
}

.main-box {
    height: 90%;
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav {
    flex-grow: 1;
}

li {
    list-style-type: none;
}