div {
    z-index: 10;
    position: fixed;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    border-radius: 25%;
    -webkit-box-shadow: 2px 2px 9px 5px rgba(50, 50, 50, 0.69);
    -moz-box-shadow: 2px 2px 9px 5px rgba(50, 50, 50, 0.69);
    box-shadow: 2px 2px 9px 5px rgba(50, 50, 50, 0.69);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    margin-left: 300px;
    margin-top: 30px;
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 9px;
    text-shadow: 0px 10px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(225deg, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 77%);
    background: -webkit-linear-gradient(225deg, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 77%);
    background: -o-linear-gradient(225deg, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 77%);
    background: -ms-linear-gradient(225deg, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 77%);
    background: linear-gradient(135deg, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 77%);
    -webkit-box-shadow: 0px -1px 18px rgba(48, 50, 50, 0.75);
    -moz-box-shadow: 0px -1px 18px rgba(48, 50, 50, 0.75);
    box-shadow: 0px -1px 18px rgba(48, 50, 50, 0.75);
}

.mask {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0px
}