.select-drop-down {
    border: 1px solid black;
    height: 30px;
    box-sizing: border-box;
    padding: 20px;
    /* margin-left: 25%; */
    display: flex;
    width: 73%;
}

.select-drop-down:hover>.drop-down-menu {
    display: flex;
}

.selected-drop-down-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down-menu {
    height: 100%;
    max-height: 350px;
    width: 250px;
    position: absolute;
    display: none;
    top: 41px;
    transform: translateX(26px);
    flex-direction: column;
    overflow-y: scroll;
    border-top: 5px solid rgba(0, 0, 0, 0);
}

.load-drop-down {
    border: 1px solid black;
    width: 25%;
    padding: 20px;
    height: 30px;
    box-sizing: border-box;
    float: left;
    display: flex;
}

.select-container {
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.list-element {
    padding: 15px;
    background-color: antiquewhite;
    margin: 0;
}

.list-element:nth-child(even) {
    background-color: aquamarine;
}

.selected-brewer {}