<div class="select-container">

  <div class="load-drop-down"></div>
  <div class="select-drop-down">
    <div class="selected-drop-down-title">{{title}}</div>

    <div class="drop-down-menu" >
      <p (click)="setBrewerName(element)" class="list-element" *ngFor="let element of dropList">{{element}}</p>
    </div>
  </div>
</div>